@import "tailwindcss";
@import "./styles/theme.css";
@import "swiper/css";
@import "swiper/css/navigation";
html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--c-bg); /* пустота по бокам */
  font-family: 'Roboto', sans-serif;
  color: var(--c-text);
}

button {
  cursor: pointer;
}

.app-layout {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
