@import "tailwindcss";
@import "./styles/theme.css";

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--c-bg); /* пустота по бокам */
  font-family: 'Roboto', sans-serif;
  color: var(--c-text);
}

/* Главная обёртка сайта */
.app-layout {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px
}
